.header {
    background: #fff;
    height: 110px;
    box-shadow: 0 1px 4px #e4e7ed;
    .header_top {
        height: 60px;
        width: 100%;
        box-shadow: 0 1px 1px #e4e7ed;
        display: flex;
        .header_left {
            width: 40%;
            display: flex;
            align-items: center;
            .header_left_btnl {
                margin: 0 15px;
                padding-top: 3px;
                box-sizing: border-box;
                .ispointer {
                    cursor: pointer
                }
            }
            .header_left_390 {
                display: none;
            }
            .header_left_breadcrumb {
                cursor: pointer;
            }
        }
        .header_right {
            width: 60%;
            padding-right: 20px;
            box-sizing: border-box;
            line-height: 60px;
            display: flex;
            justify-content: flex-end;
            .header_right_l {
                line-height: 65px;
                padding: 0 15px;
                box-sizing: border-box;
                 :global(.is-fixed) {
                    top: 19px;
                    right: 15px;
                }
                 :global(.el-badge) {
                    margin-top: -2px;
                }
                .Thebell {
                    margin-right: 5px;
                }
                .xiaoshou {
                    cursor: pointer;
                }
                .isicon {
                    margin-right: 12px;
                    margin-left: 10px;
                    box-sizing: border-box;
                }
            }
            .header_right_r {
                display: flex;
                .admin {
                    display: flex;
                    align-items: center;
                    span {
                        margin-left: 6px;
                        cursor: pointer;
                        color: #606266;
                    }
                    .ISimg {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        vertical-align: middle;
                        cursor: pointer;
                    }
                }
                .min360 {}
            }
        }
    }
    .header_bottom {
        padding: 12px 10px 0 10px;
        box-sizing: border-box;
        height: 50px;
        overflow: hidden;
        .tabsisIMg {
            vertical-align: text-top;
        }
         :global(.el-tabs__nav) {
            border: none;
        }
         :global(.el-tabs__item):nth-child(1) {
            span:nth-child(2) {
                display: none;
            }
        }
         :global(.el-tabs__item) {
            border: none;
            height: 38px;
        }
         :global(.el-tabs__header) {
            border-bottom: none;
        }
         :global(.el-tabs__item):hover {
            background: #DEE1E6;
            mask: url('../../../img/nav/hx/bgdjt.png');
            mask-size: 100% 100%;
            background-size: 100% 100%;
            color: #303133;
        }
         :global(.is-active) {
            background: #E8F4FF!important;
            mask: url('../../../img/nav/hx/bgdjt.png')!important;
            mask-size: 100% 100%!important;
            background-size: 100% 100%!important;
            color: #409EFF!important;
        }
         :global(.is-top) {
            font-size: 13px;
        }
    }
    .headerpositioning680390 {
        display: none;
    }
}

::-webkit-scrollbar {
    width: 0;
}

.infinitelist {
    height: 50px;
    overflow-y: scroll;
    list-style: none;
}

@media screen and (max-width: 1920px) {}

@media screen and (max-width: 1280px) {}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 680px) {
    .header {
        .header_top {
            .header_left {
                width: 50%;
                .header_left_680 {
                    display: none;
                }
            }
            .header_right {
                width: 50%;
                .min360 {
                    display: none;
                }
            }
        }
        .headerpositioning680390 {
            display: inline;
        }
    }
}

@media screen and (max-width: 390px) {
    .header {
        .header_top {
            .header_left {
                width: 50%;
                .header_left_390 {
                    display: inline;
                }
            }
            .header_right {
                width: 50%;
                .min360 {
                    display: none;
                }
            }
        }
        .headerpositioning680390 {
            display: inline;
        }
    }
}