.datalistTableTitle {
    display: flex;
    .screen {
        margin-right: 15px;
        margin-top: 2px;
        cursor: pointer;
    }
    .elisbtn {
        margin-left: 15px;
    }
    .screeningTable {}
}