.userservice {
    width: 100%;
    .userservice_elfrom {
        width: 100%;
        padding: 20px 20px 0px 20px;
        box-sizing: border-box;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 0px 4px #e4e7ed;
        margin-bottom: 15px;
        .userservice_elfrom_header {
            width: 100%;
            display: flex;
            padding-bottom: 20px;
            .userservice_elfrom_left {
                width: calc(100% - 250px);
                 :global(.el-form-item--mini) {
                    margin-bottom: 0;
                }
            }
            .userservice_elfrom_right {
                width: 250px;
                display: flex;
                justify-content: flex-end;
                .fatherscreening {
                    cursor: pointer;
                    font-size: 14px;
                    line-height: 29px;
                    .screening {
                        display: flex;
                        color: #409EFF;
                        .icon_filter {
                            margin-top: 2px;
                            margin-left: 5px;
                        }
                    }
                }
            }
        }
        .userservice_elfrom_footer {
            width: 100%;
            .userservice_elfrom_header_h {
                width: 100%;
                display: flex;
                padding-bottom: 10px;
                border-bottom: 1px solid #e4e7ed;
                .userservice_elfrom_header_h_left {
                    width: 50%;
                    .shaixuan {
                        display: flex;
                        cursor: pointer;
                        color: #409EFF;
                        .icon_filter {
                            margin-top: 2px;
                            margin-right: 3px;
                        }
                    }
                }
                .userservice_elfrom_header_h_right {
                    width: 50%;
                    display: flex;
                    justify-content: flex-end;
                }
            }
            .userservice_elfrom_header_b {
                padding-top: 15px;
                box-sizing: border-box;
                 :global(.el-form-item--mini) {
                    margin-bottom: 15px;
                }
                .userservice_elfrom_header_b_widt {
                    width: 160px;
                }
                .userservice_elfrom_header_b_widt200 {
                    width: 225px;
                }
            }
        }
        .userservice_elfrom580 {}
        .userservice_elfrom800 {}
        .userservice_elfrom1000 {}
        .userservice_elfrom1200 {}
        .userservice_elfrom1400 {}
    }
    .userservice_elfrommin850 {}
    .userservice_elfrommax850 {
        display: none;
    }
    .userservice_tables {
        width: 100%;
        padding: 20px 19px;
        box-sizing: border-box;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 0px 4px #e4e7ed;
        .userservice_tables_header {
            width: 100%;
            display: flex;
            .userservice_tables_header_left {
                width: 50%;
                .userservice_tables_header_leftH1 {
                    font-size: 14px;
                    color: #333;
                    font-weight: 600;
                    line-height: 28px;
                    .margin_right {
                        margin-right: 15px;
                    }
                    .SIclaoer_67C23A {
                        color: #67C23A;
                    }
                    .Siclaoer_909399 {
                        color: #909399;
                    }
                    .margin_const {
                        margin: 0 8px 0 0;
                    }
                }
            }
            .userservice_tables_header_right {
                width: 50%;
                display: flex;
                justify-content: flex-end;
                .serservice_tables_header_right_marg {
                    margin-right: 15px;
                }
            }
        }
        .userservice_tables_footer {
            margin-top: 20px;
            .comprehensive {
                color: #67C23A;
            }
            .lock {
                color: #f56c6c;
            }
        }
    }
}

@media screen and (max-width: 580px) {
    .userservice {
        .userservice_elfrom {
            .userservice_elfrom580 {
                display: none;
            }
        }
        .userservice_elfrommax850 {
            display: inline-block;
        }
    }
}

@media screen and (max-width: 850px) {
    .userservice {
        .userservice_elfrom {}
        .userservice_elfrommin850 {
            display: none;
        }
        .userservice_elfrommax850 {
            display: inline-block;
        }
    }
}

@media screen and (max-width: 1000px) {
    .userservice {
        .userservice_elfrom {
            .userservice_elfrom1000 {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .userservice {
        .userservice_elfrom {
            .userservice_elfrom1200 {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 1400px) {
    .userservice {
        .userservice_elfrom {
            .userservice_elfrom1400 {
                display: none;
            }
        }
    }
}