.followup {
    width: 100%;
    .followup_from {
        width: 100%;
        padding: 20px 20px 20px 20px;
        box-sizing: border-box;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 0px 4px #e4e7ed;
        margin-bottom: 15px;
        .followup_from_pt {
            display: flex;
            width: 100%;
            .followup_from_pt_left {
                width: calc(100% - 240px);
                 :global(.el-form-item) {
                    margin-bottom: 0;
                }
            }
            .followup_from_pt_right {
                width: 240px;
                display: flex;
                justify-content: flex-end;
                .screening {
                    cursor: pointer;
                    font-size: 14px;
                    line-height: 29px;
                    display: flex;
                    color: #409EFF;
                    .icon_filter {
                        margin-top: 2px;
                        margin-left: 5px;
                    }
                }
            }
        }
        .followup_from_gj {
            width: 100%;
            .followup_from_gj_top {
                width: 100%;
                display: flex;
                padding-bottom: 10px;
                border-bottom: 1px solid #e4e7ed;
                margin-bottom: 10px;
                .followup_from_gj_top_left {
                    width: 50%;
                    .shaixuan {
                        display: flex;
                        cursor: pointer;
                        color: #409EFF;
                        .icon_filter {
                            margin-top: 2px;
                            margin-right: 3px;
                        }
                    }
                }
                .followup_from_gj_top_right {
                    width: 50%;
                    display: flex;
                    justify-content: flex-end;
                }
            }
            .followup_from_gj_footer {
                 :global(.el-form-item) {
                    margin-bottom: 10px;
                }
                .Timezone178 {
                    width: 178px;
                }
                .Timezone {
                    width: 230px;
                }
            }
        }
    }
    .followup_Table {
        width: 100%;
        padding: 20px 20px 20px 20px;
        box-sizing: border-box;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 0px 4px #e4e7ed;
        margin-bottom: 15px;
    }
}