* {
    padding: 0;
    margin: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    .app {
        width: 100%;
        height: 100%;
        background: #F6F8F9;
    }
}

:global(.el-dialog__header) {
    background: #f8f8f8;
    font-size: 13px;
}