.fatherInde {
    width: 100%;
    height: 100%;
    display: flex;
    .fatherInde_letf {
        width: 266px;
        box-shadow: 0 1px 4px #e4e7ed;
        margin-right: 2px;
        overflow: hidden;
        transition: 0.8s;
    }
    .fatherInde_right {
        width: calc(100% - 266px);
        box-shadow: 0 1px 4px #F6F6F6;
        transition: 0.8s;
    }
    .fatherInde_letf_active {
        width: 64px;
        overflow: hidden;
        transition: 0.8s;
    }
    .fatherInde_right_active {
        width: calc(100% - 66px);
        transition: 0.8s;
    }
}

@media screen and (max-width: 1920px) {}

@media screen and (max-width: 1280px) {}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 680px) {
    .fatherInde {
        .fatherInde_letf {
            width: 0;
            box-shadow: initial;
        }
        .fatherInde_right {
            width: 100%;
        }
    }
}

@media screen and (max-width: 390px) {
    .fatherInde {
        .fatherInde_letf {
            width: 0;
            box-shadow: initial;
        }
        .fatherInde_right {
            width: 100%;
        }
    }
}